*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion:no-preference) {
    * {
      scroll-behavior: smooth;
    }
    #header {
      z-index: -1 !important; 
    }
  }

html {
    box-sizing: border-box;
    background-color: white;
    font-family: 'Lexend Exa', sans-serif;
}

body {
  background-color: #F8F9FF;
  margin: 1%;
}

#header {
  position: fixed;
  width: 98%;
  top: 0%;
  z-index: 1000;
  background-color: #F8F9FF;
}

#nav-bar ul{
  width: 100%;
  display: flex;
  justify-content: center;
}

#nav-bar li {
  list-style: none;
  display: inline-block;
  
  /* text-align:center */
  /* align-self: flex-end; */
}

.nav-text {
  align-self: center;
}

.nav-text:hover,
a:hover {
  opacity: .5;
  transition: 0.5s;
}

.nav-link {
  text-decoration: none;
  color: #183F8C;
  font-size: 2em;
}

.nav-text-left {
  border-bottom: .2em solid #183F8C;
  margin-left: 3em;
  width: 14%;
}

.nav-text-right {
  border-bottom: .2em solid #183F8C;
  text-align: right;
  margin-right: 3em; 
  width: 14%;
}

#image-li {
  text-align: center;
  width: 15em;
  margin-top: 2em;
}

#image-li img {
  width: 12em;
}

main {
  margin-top: 16em;
}

#home {
  padding-top: 3em;
  text-align: center;
  width: 42%; 
  margin: auto;
}

#home h1{
  display: block; 
  font-weight: 600;
  font-size: 4.9em;
  letter-spacing: -.1em;
  color: #183F8C;
  margin-bottom: 1em;
}

#home p {
  font-size: 1.7em;
  color: #454655;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 4em;
}

#about {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1em;
}

.about-col1 {
  width: 60%;  
}

.about-col2 {
  width: 40%;
  text-align: center;
}

.about-text,
.spec-text {
  padding-bottom: 1em;
  font-size: 1.3em;
}

.about-col2 #video {
  padding-top: 2.1em;
  width: 90%;
}

#prompt_user_email {
  padding-top: .8em;
}

.about-col2 input {
  font-family: 'Lexend Exa', sans-serif;
  margin-top: .2em;
  font-size: 1em;
  border-color: #454655;
  border-radius: .2em;
  margin: 0 -.3em;
}

.spec-img {
  width: 100%;
  height: 22em;
  object-fit: cover;
} 

#telescopes-div {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

#telescopes-div figure {
  padding-left: 3em;
}

#image-gallery-header {
  font-size: 1.5em;
}

#images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 1em;
}

#images img{
  width: 33.2%;
  height: 26em;  
  object-fit: cover;
  margin-top: .5em;
  padding: 0 .25em;
  border-radius: .4em;
}

footer a {
  text-decoration: underline;
  color: white;
}

footer {
  background-color: black;
  color: white;
  width: 98%;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  #home h1 {
    font-size: 3em;
  }
  #home p {
    font-size: 1.3em; 
  }
  .spec-img {
    height: 19em; 
  }
}

@media screen and (max-width: 810px) {
  .nav-link {
    font-size: 1.4em;
  }
  .spec-img {
    height: 16em; 
  }
}

@media screen and (max-width: 692px) {
  #image-li img {
    width: 10em;
    margin-bottom: 2em;
  }
  .nav-link {
    font-size: 1.2em;
  }
  .nav-text-left {
    width: 12%;
  }
  .nav-text-right {
    width: 12%;
  }
  .spec-img {
    height: 13em; 
  }
}

@media screen and (max-width: 600px) {
  .spec-img {
    height: 12em; 
  }
}

@media screen and (max-width: 428px) {
  .spec-img {
    height: 9em; 
  }
  #home h1 {
    font-size: 2em;
  }
  #home p {
    font-size: 1em; 
  }
  .nav-link {
    font-size: 1em;
  }
  .nav-text-left {
    width: 6%;
  }
  .nav-text-right {
    width: 6%;
  }
  #image-li img {
    width: 6em;
    margin-bottom: 7em;
  }
}

@media screen and (max-width: 314px) {
  #image-li img {
    width: 4em;
    margin-bottom: 9em;
  }
  .nav-link {
    font-size: .7em;
  }
  .nav-text-left {
    width: 3%;
  }
  .nav-text-right {
    width: 3%;
  }
  .spec-img {
    height: 5em; 
  }
}